@media only screen and (min-width: 320px) and (max-width: 991px) {
  .icon {
    background-image: url(../i/mobi/icon.png);
    background-position: 0 0;
    background-size: 352px 68px;
    -webkit-background-size: 352px 68px;
    -moz-background-size: 352px 68px; }

  .container-fluid {
    min-width: 320px; }

  .for-banner .cubic-box {
    width: 80%;
    height: 80px;
    top: calc(50% - 40px); }
  .for-banner .show-side {
    display: block;
    width: 100%;
    height: 44px;
    top: 10px;
    left: 0; }
    .for-banner .show-side .icon-show {
      display: block;
      width: 20px;
      height: 21px;
      background-position: -32px 0px;
      position: absolute;
      top: 0;
      left: 10px;
      margin: 0; }
    .for-banner .show-side .icon-search {
      display: block;
      width: 20px;
      height: 21px;
      background-position: 0 0px;
      position: absolute;
      top: 0;
      right: 10px;
      margin: 0; }
    .for-banner .show-side .name-page {
      display: block;
      width: 100%;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
      height: 21px;
      line-height: 21px; }
  .for-banner .banner-top {
    height: 100px;
    position: relative;
    top: calc(50% - 50px); }
    .for-banner .banner-top img {
      width: 320px;
      height: 100px; }

  .for-service {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0; }
    .for-service .cover {
      width: 100%;
      padding-top: 29px; }
      .for-service .cover .heading-one {
        padding: 0 10px; }
        .for-service .cover .heading-one .line-heading {
          width: calc( 100% - 58px );
          left: auto;
          right: 10px;
          bottom: -5px; }
        .for-service .cover .heading-one .icon-heading {
          width: 29px;
          height: 29px;
          background-position: 0 -38px;
          position: relative;
          top: 3px; }
        .for-service .cover .heading-one .text-heading {
          font-size: 20px;
          margin-left: 5px;
          font-weight: 600; }
      .for-service .cover .list-service {
        display: block;
        width: 100%;
        padding-top: 50px; }
        .for-service .cover .list-service li {
          display: block;
          width: 100%;
          float: none;
          padding-top: 0;
          margin-bottom: 52px; }
          .for-service .cover .list-service li:last-child {
            margin-bottom: 0; }
          .for-service .cover .list-service li .item {
            display: none; }
          .for-service .cover .list-service li .item-m {
            display: block;
            width: 106px;
            height: 106px;
            margin: 0 auto;
            margin-bottom: 21px; }
          .for-service .cover .list-service li .green-text {
            display: block;
            font-size: 20px;
            font-weight: 600; }
          .for-service .cover .list-service li .dark-text {
            display: block;
            font-size: 16px;
            line-height: 30px;
            margin-top: 8px;
            text-align: justify; }

  .for-intro.for-service {
    margin-top: 28px; }
    .for-intro.for-service .cover {
      padding-top: 17px; }
      .for-intro.for-service .cover .heading-one .icon-heading {
        width: 30px;
        height: 30px;
        background-position: -34px -38px; }
      .for-intro.for-service .cover .main-intro .img-intro {
        width: 100%; }
        .for-intro.for-service .cover .main-intro .img-intro ul {
          width: 375px;
          margin: 0 auto;
          padding: 0 12px;
          padding-top: 34px;
          overflow: hidden; }
          .for-intro.for-service .cover .main-intro .img-intro ul li img {
            width: 167px;
            height: 128px;
            margin-bottom: 17px; }
      .for-intro.for-service .cover .main-intro .text-intro {
        width: 100%;
        padding: 0 10px; }
        .for-intro.for-service .cover .main-intro .text-intro .blue-text {
          font-size: 20px;
          font-weight: 600;
          line-height: 28px; }
        .for-intro.for-service .cover .main-intro .text-intro .btn-more {
          margin: 0 auto;
          float: none;
          margin-top: 33px;
          font-weight: 400; }

  .for-product.for-service {
    padding-bottom: 95px; }
    .for-product.for-service .cover {
      padding-top: 21px; }
      .for-product.for-service .cover .heading-one .icon-heading {
        width: 31px;
        height: 30px;
        background-position: -69px -38px; }
      .for-product.for-service .cover .main-pro {
        width: 100%; }
        .for-product.for-service .cover .main-pro .type {
          top: -22px; }
          .for-product.for-service .cover .main-pro .type ul li a.active {
            position: relative;
            right: 10px; }
        .for-product.for-service .cover .main-pro .product-items {
          width: 100%; }
          .for-product.for-service .cover .main-pro .product-items ul {
            width: 100%;
            padding-top: 34px; }
            .for-product.for-service .cover .main-pro .product-items ul li {
              width: 100%;
              padding: 0 16px;
              margin-bottom: 10px; }
              .for-product.for-service .cover .main-pro .product-items ul li .active {
                right: 10px;
                position: relative; }
              .for-product.for-service .cover .main-pro .product-items ul li img {
                width: 343px;
                height: 231px;
                margin: 0 auto; }

  .for-package.for-service {
    width: 100%;
    margin-top: 20px; }
    .for-package.for-service .cover {
      width: 100%;
      padding-top: 26px; }
      .for-package.for-service .cover .heading-one .icon-heading {
        width: 30px;
        height: 30px;
        background-position: -105px -38px; }

  .chat-with-us {
    display: block;
    width: calc( 100% - 50px );
    left: 25px; }
    .chat-with-us.active .blue-cover i.icon {
      -ms-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg); }
    .chat-with-us.active .cover-white .next-btn {
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      float: none;
      margin: 0 auto;
      margin-top: 20px; }
    .chat-with-us .blue-cover {
      display: block;
      width: 100%; }
      .chat-with-us .blue-cover i.icon {
        background-position: -127px 0;
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg); }

  .for-footer {
    height: 271px; }
    .for-footer .cover-footer {
      width: 100%;
      padding-top: 27px; }
      .for-footer .cover-footer .letter-img {
        display: block;
        width: 86px;
        height: 54px;
        position: relative;
        right: auto;
        top: auto;
        margin: 0 auto; }
      .for-footer .cover-footer .input-reg {
        margin-top: 31px;
        padding: 0 13px; }
      .for-footer .cover-footer .navi-foot {
        display: block;
        width: 375px;
        margin: 0 auto;
        padding: 0 13px;
        padding-top: 39px; }
        .for-footer .cover-footer .navi-foot li {
          margin-right: 26px;
          padding-bottom: 5px; }
          .for-footer .cover-footer .navi-foot li:last-child {
            margin-right: 0; }
      .for-footer .cover-footer .list-social {
        display: block;
        width: 155px;
        margin: 0 auto;
        padding: 0;
        padding-top: 4px; }
        .for-footer .cover-footer .list-social li.face a {
          width: 13px;
          height: 21px;
          background-position: -150px -3px; }
        .for-footer .cover-footer .list-social li.twin {
          margin-left: 52px; }
          .for-footer .cover-footer .list-social li.twin a {
            width: 20px;
            height: 19px;
            background-position: -175px -5px;
            margin-top: 21px; }
        .for-footer .cover-footer .list-social li.google {
          margin-left: 43px; }
          .for-footer .cover-footer .list-social li.google a {
            width: 27px;
            height: 13px;
            background-position: -200px -1px; }

  .main-search .input .search-icon {
    width: 17px;
    height: 17px;
    background-position: -258px 0; }

  .for-intro-f {
    display: block;
    width: 100%;
    padding: 0; }
    .for-intro-f .cover {
      width: 100%;
      padding: 0 10px; }
      .for-intro-f .cover .img-left {
        display: block;
        width: 355px;
        height: auto;
        position: absolute;
        top: 16px;
        left: 50%;
        margin-left: -177.5px; }
        .for-intro-f .cover .img-left img:first-child {
          width: 294px;
          height: 184px; }
        .for-intro-f .cover .img-left img:last-child {
          width: 221px;
          height: 140px;
          top: 117px; }
      .for-intro-f .cover .text-right-side {
        display: block;
        width: 100%;
        padding: 0;
        padding-top: 24px; }
        .for-intro-f .cover .text-right-side .heading-one .icon-heading {
          width: 30px;
          height: 30px;
          background-position: -34px -38px; }
        .for-intro-f .cover .text-right-side .heading-one .text-heading {
          font-size: 20px;
          margin-left: 5px;
          font-weight: 600; }
        .for-intro-f .cover .text-right-side .heading-one .line-heading {
          width: calc( 100% - 58px );
          left: auto;
          right: 10px;
          bottom: -5px; }
        .for-intro-f .cover .text-right-side .blue-text {
          display: block;
          font-size: 20px;
          color: #077bb7;
          margin-top: 244px; }
        .for-intro-f .cover .text-right-side .grey-text {
          margin-top: 14px; }

  .for-intro-f.why-chose {
    margin-top: 22px;
    height: auto;
    padding-bottom: 20px; }
    .for-intro-f.why-chose .cover .img-left img:first-child {
      left: 0; }
    .for-intro-f.why-chose .cover .text-right-side .blue-text {
      width: 100%; }

  .desvlab-have {
    display: block;
    width: 100%; }
    .desvlab-have .cover {
      padding: 0; }
    .desvlab-have ul {
      display: block;
      width: 100%; }
      .desvlab-have ul li {
        float: none;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 34px;
        padding-top: 20px; }
        .desvlab-have ul li .green-text {
          margin-top: 29px; }
        .desvlab-have ul li .grey-text {
          padding: 0 41px; }
        .desvlab-have ul li img {
          margin: 0 auto; }
        .desvlab-have ul li:nth-child(1) {
          padding: 0;
          padding-top: 20px; }
        .desvlab-have ul li:nth-child(2) {
          padding: 0;
          padding-top: 20px;
          padding-bottom: 20px;
          background: #f4f4f4; }
          .desvlab-have ul li:nth-child(2) .grey-text {
            padding: 0 36px; }
        .desvlab-have ul li:nth-child(3) {
          padding: 0;
          left: 0; }
          .desvlab-have ul li:nth-child(3) .grey-text {
            padding: 0 35px; }

  .for-service.for-faq .cover {
    padding-top: 23px; }
    .for-service.for-faq .cover .heading-one .icon-heading {
      width: 30px;
      height: 30px;
      background-position: -140px -38px; }
    .for-service.for-faq .cover .intro-faq {
      margin-top: 23px;
      padding: 0 10px;
      text-align: justify; }
    .for-service.for-faq .cover .list-faq {
      display: block;
      width: 100%;
      padding-bottom: 35px; }
      .for-service.for-faq .cover .list-faq ul {
        width: 100%; }
        .for-service.for-faq .cover .list-faq ul li {
          width: 100%;
          padding: 0 10px;
          margin-bottom: 12px; }
          .for-service.for-faq .cover .list-faq ul li:last-child {
            margin-bottom: 18px; }
          .for-service.for-faq .cover .list-faq ul li.active .question-here a {
            background-position: -287px 0; }
          .for-service.for-faq .cover .list-faq ul li .solve-questions {
            margin-bottom: 0;
            padding-left: 55px; }
          .for-service.for-faq .cover .list-faq ul li .question-here {
            height: auto;
            margin-bottom: 10px; }
            .for-service.for-faq .cover .list-faq ul li .question-here a {
              width: 30px;
              height: 30px;
              background-position: -323px 0;
              top: calc(50% - 15px);
              left: 10px; }
            .for-service.for-faq .cover .list-faq ul li .question-here .faq-here {
              line-height: 25px;
              padding: 5px 0;
              padding-left: 55px;
              padding-right: 10px; }

  .for-contact .cover {
    padding-top: 21px; }
    .for-contact .cover .map-cover-here {
      width: calc( 100% - 20px );
      height: 184px;
      margin-left: 10px;
      margin-top: 33px; }
    .for-contact .cover .contact-here {
      width: 100%;
      padding: 0 10px; }
      .for-contact .cover .contact-here .btn-send {
        margin: 0 auto; }
      .for-contact .cover .contact-here .left-address {
        display: block;
        float: none;
        width: 100%;
        padding-top: 26px; }
        .for-contact .cover .contact-here .left-address ul li {
          display: block;
          padding-bottom: 21px; }
          .for-contact .cover .contact-here .left-address ul li .blue-text {
            font-size: 20px;
            margin-bottom: 20px; }
          .for-contact .cover .contact-here .left-address ul li .dark-text {
            font-size: 16px; }
      .for-contact .cover .contact-here .mail-for-us {
        display: block;
        float: none;
        width: 100%;
        padding-top: 0;
        padding-bottom: 60px; }
        .for-contact .cover .contact-here .mail-for-us .blue-text {
          font-size: 20px;
          margin-bottom: 8px; }
        .for-contact .cover .contact-here .mail-for-us .dark-text {
          line-height: 30px;
          margin-bottom: 22px; }
        .for-contact .cover .contact-here .mail-for-us .small-input {
          width: 100%;
          margin: 0;
          margin-bottom: 18px; }

  .scroll-top {
    background-position: -323px -39px;
    right: 25px; }

  .cover-navigation {
    margin-top: -90px; }

  .main-navigation ul li {
    margin-bottom: 25px; }

  .main-navigation ul li a {
    font-size: 20px; }

  .name-box {
    font-size: 28px;
    bottom: 42px; }

  .for-banner .cubic-box .point-run {
    top: 14px;
    left: -6px;
    width: 12px;
    height: 12px; }

  .axis path,
  .axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges; }

  path {
    stroke-width: 1.5; }

  .light-desk {
    display: none; }

  .light-mobi {
    display: block; }
    .light-mobi img.on {
      width: 58px;
      height: 85px; }
    .light-mobi img.off {
      width: 67.5px;
      height: 88.5px; }

  .for-banner .cubic-box .light-show {
    bottom: -54px;
    left: -29px; }

  .for-banner .cubic-box .light-show.off {
    left: -33px;
    bottom: -46px; }

  .for-intro.for-service .cover .main-intro .text-intro .dark-text {
    text-align: justify; }

  .for-footer .cover-footer .input-reg input {
    width: calc(100% - 90px); }

  .for-footer .cover-footer .input-reg .btn-reg {
    width: 80px; } }
@media only screen and (min-width: 320px) and (max-width: 568px) and (orientation: landscape) {
  .cover-navigation {
    height: 320px;
    overflow: scroll;
    top: 0;
    margin-top: 0; }

  .overlay {
    overflow: hidden; } }
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .for-intro.for-service .cover .main-intro .img-intro ul {
    width: 320px; }

  .for-intro.for-service .cover .main-intro .img-intro ul li img {
    width: 141px; }

  .for-product.for-service .cover .main-pro .product-items ul li img {
    width: 295px; }

  .for-footer .cover-footer .navi-foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    webkit-justify-content: space-around;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    width: 100%;
    padding: 39px 5px 0; }

  .for-footer .cover-footer .navi-foot li {
    margin: 0; }

  .for-intro-f .cover .img-left {
    width: 320px; }

  .for-intro-f .cover .img-left img:first-child {
    width: 253px; }

  .for-intro-f .cover .img-left img:last-child {
    left: 26px; }

  .for-intro-f.why-chose .cover .img-left img:first-child {
    left: 26px;
    right: auto; }

  .for-intro-f.why-chose .img-left img:last-child {
    right: 0;
    left: auto; }

  .for-intro-f.why-chose {
    height: 637px; } }
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .container-fluid {
    min-width: auto; }

  .for-service {
    padding: 0 20px; }
    .for-service .cover {
      width: 100%; }

  .for-product.for-service .cover .main-pro .product-items ul {
    width: 952px; }
    .for-product.for-service .cover .main-pro .product-items ul li img {
      width: 465px; }

  .for-service .cover .list-service li .item-m {
    display: none; }

  .show-side .name-page {
    display: none; }

  .for-footer .cover-footer .letter-img.hidden-xs {
    display: none; }

  .for-footer .cover-footer .letter-img {
    right: -200px; }

  .for-intro-f {
    padding: 0 20px; }
    .for-intro-f .cover {
      width: 952px; }

  .for-intro-f .cover .text-right-side {
    padding-left: 23px;
    width: calc( 100% - 513px ); }

  .for-intro-f .cover .img-left {
    height: 480px; }

  .for-intro-f .cover .img-left {
    width: 470px; }

  .desvlab-have ul {
    padding-bottom: 63px; }

  .for-service.for-faq {
    padding-bottom: 50px; } }
@media only screen and (min-width: 568px) and (max-width: 991px) {
  .for-banner .banner-top {
    width: 320px;
    margin: 0 auto; } }

/*# sourceMappingURL=breakpoint.css.map */
