html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none !important; }

a:hover, a:active, a:focus {
  outline: 0; }

i {
  font-style: normal; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  position: absolute;
  left: -9999px;
  box-sizing: border-box; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
  outline: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  outline: 0;
  -webkit-appearance: none; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

/* Change colours to suit your needs */
ins {
  color: #000;
  text-decoration: none;
  background-color: #ff9; }

/* Change colours to suit your needs */
mark {
  color: #000;
  font-style: italic;
  font-weight: bold;
  background-color: #ff9; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted; }

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse; }

/* Change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #cccccc; }

input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  outline: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

.container-fluid {
  min-width: 1280px;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #fff;
  position: relative; }

.overlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100; }

.clear, .clear:before, .clear:after {
  clear: both; }

.row {
  padding: 0;
  margin: 0; }

.icon {
  background-image: url(../i/icon.png);
  background-position: 0 0; }

/*--------------------------------------------------------------
		The Complete CSS Stylesheet
---------------------------------------------------------------*/
/*mixin*/
/*@keyframes color-animation {*/
/*    0% {*/
/*       background: #95ae99;*/
/*   }*/
/*    50% {*/
/*       background: #82b09e;*/
/*    }*/
/*   100% {*/
/*       background: #bbdefb*/
/*    }*/
/*}*/
/*for banner*/
.for-banner {
  display: block;
  width: 100%;
  height: 576px;
  -webkit-perspective: 3000px;
  perspective: 3000px;
  -webkit-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  position: relative;
  background: -webkit-linear-gradient(323deg, #3d7eaa, #ffa27a, #00bdc3);
  background: linear-gradient(127deg, #3d7eaa, #ffa27a, #00bdc3);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 23s ease infinite;
  animation: AnimationName 23s ease infinite;
  /* for banner img*/
  /* cubic*/
  /* show side*/ }
  .for-banner.short {
    height: 340px; }
  .for-banner > img {
    display: block;
    width: 1164px;
    height: 279px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -582px; }
  .for-banner .cubic-box {
    width: 1280px;
    height: 310px;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 155px);
    /* IE 9 */
    overflow: hidden; }
    .for-banner .cubic-box .point-run {
      position: absolute;
      top: 0;
      left: -12px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #f5eb22; }
    .for-banner .cubic-box .line-d3 {
      display: block;
      width: 100%; }
    .for-banner .cubic-box .light-show {
      display: block;
      position: absolute;
      top: 82px;
      right: 134px; }
      .for-banner .cubic-box .light-show.off {
        top: 60px;
        right: 112px; }
    .for-banner .cubic-box .svg-cubic {
      width: 100%;
      height: 279px; }
      .for-banner .cubic-box .svg-cubic .cls-1 {
        fill: none;
        stroke: #fff;
        stroke-width: 3px;
        fill-rule: evenodd;
        opacity: 0.3; }
      .for-banner .cubic-box .svg-cubic .no-1 {
        fill: #ebe014; }
      .for-banner .cubic-box .svg-cubic .no-2 {
        fill: #bbd432; }
      .for-banner .cubic-box .svg-cubic .no-3 {
        fill: #8ac97d; }
      .for-banner .cubic-box .svg-cubic .no-4 {
        fill: #4199ba; }
      .for-banner .cubic-box .svg-cubic .no-5 {
        fill: #ebe014; }
      .for-banner .cubic-box .svg-cubic .no-6 {
        fill: #bbd432; }
      .for-banner .cubic-box .svg-cubic .no-7 {
        fill: #8ac97d; }
      .for-banner .cubic-box .svg-cubic .circle-point.active {
        fill: #f5eb22;
        stroke: #f5eb21;
        stroke-width: 3px; }
    .for-banner .cubic-box .light-img {
      display: block;
      position: absolute;
      right: -46px;
      top: 84px; }
    .for-banner .cubic-box .light-img-second {
      display: none;
      position: absolute;
      right: -69px;
      top: 62px; }
    .for-banner .cubic-box .logo-light-img {
      display: block;
      position: absolute;
      left: 160px;
      top: 170px; }
  .for-banner .show-side {
    display: block;
    position: absolute;
    right: 20px;
    top: 0; }
    .for-banner .show-side .icon-show {
      display: block;
      width: 45px;
      height: 45px;
      background-position: 0px -7px;
      margin-top: 19px; }
    .for-banner .show-side .icon-search {
      display: block;
      width: 45px;
      height: 45px;
      background-position: 0px -73px;
      margin-top: 10px; }

/* for services*/
.for-service {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 129px;
  background: #fff;
  padding-bottom: 46px;
  /* Cover ALl*/ }
  .for-service .cover {
    display: block;
    width: 1022px;
    position: relative;
    padding-top: 71px;
    margin: 0 auto;
    /* List Service*/ }
    .for-service .cover .heading-one {
      display: block;
      width: 100%;
      position: relative; }
      .for-service .cover .heading-one .icon-heading {
        display: inline-block;
        width: 52px;
        height: 52px;
        background-position: -92px 0;
        vertical-align: middle; }
      .for-service .cover .heading-one .text-heading {
        display: inline-block;
        font-size: 32px;
        color: #05080b;
        vertical-align: middle;
        margin-left: 15px; }
      .for-service .cover .heading-one .line-heading {
        display: block;
        width: calc( 100% - 71px );
        height: 1px;
        background: #dbdad9;
        position: absolute;
        left: 71px;
        bottom: 2px; }
    .for-service .cover .list-service {
      display: block;
      width: 100%;
      position: relative; }
      .for-service .cover .list-service li {
        float: left;
        width: 33.3%;
        text-align: center;
        padding-top: 104px; }
        .for-service .cover .list-service li .item {
          display: block;
          width: 120px;
          height: 120px;
          margin: 0 auto;
          margin-bottom: 63px; }
        .for-service .cover .list-service li .green-text {
          display: block;
          font-size: 25px;
          color: #7bc144; }
        .for-service .cover .list-service li .dark-text {
          display: block;
          font-size: 16px;
          color: #979a9d;
          padding: 0 40px;
          line-height: 30px;
          margin-top: 7px; }

/* For Intro*/
.for-intro.for-service {
  background: #f4f4f4;
  padding-bottom: 27px; }
  .for-intro.for-service .cover {
    padding-top: 47px;
    /* Main InTro*/ }
    .for-intro.for-service .cover .heading-one .icon-heading {
      background-position: -176px 0; }
    .for-intro.for-service .cover .main-intro {
      display: block;
      width: 100%;
      position: relative;
      /* Img intro*/
      /*Text Intro*/ }
      .for-intro.for-service .cover .main-intro .img-intro {
        float: left;
        width: 370px; }
        .for-intro.for-service .cover .main-intro .img-intro ul {
          display: block;
          width: 370px;
          padding-top: 49px; }
          .for-intro.for-service .cover .main-intro .img-intro ul li {
            float: left;
            width: 50%;
            list-style-type: none; }
            .for-intro.for-service .cover .main-intro .img-intro ul li:nth-child(2n) img {
              margin-left: 8px; }
            .for-intro.for-service .cover .main-intro .img-intro ul li img {
              display: block;
              width: 177px;
              height: 136px;
              margin-bottom: 18px; }
      .for-intro.for-service .cover .main-intro .text-intro {
        float: left;
        width: calc( 100% - 370px );
        padding-top: 44px;
        padding-left: 37px; }
        .for-intro.for-service .cover .main-intro .text-intro .blue-text {
          display: block;
          width: 100%;
          font-size: 25px;
          color: #077bb7; }
        .for-intro.for-service .cover .main-intro .text-intro .dark-text {
          display: block;
          width: 100%;
          font-size: 16px;
          color: #484848;
          line-height: 30px;
          margin-top: 13px; }
        .for-intro.for-service .cover .main-intro .text-intro .btn-more {
          display: block;
          width: 92px;
          height: 40px;
          border: 1px solid #7bc143;
          text-align: center;
          line-height: 38px;
          font-size: 16px;
          color: #7cc243;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          margin-top: 40px; }
          .for-intro.for-service .cover .main-intro .text-intro .btn-more:hover {
            color: #fff;
            border-color: transparent;
            background-color: #7bc143; }

/* For Product*/
.for-product.for-service {
  padding-bottom: 40px; }
  .for-product.for-service .cover {
    padding-top: 47px; }
    .for-product.for-service .cover .heading-one .icon-heading {
      background-position: -282px 0; }
    .for-product.for-service .cover .main-pro {
      display: block;
      width: 100%;
      position: relative;
      /* Type*/
      /* Product Item*/ }
      .for-product.for-service .cover .main-pro .type {
        position: absolute;
        right: 0;
        top: -29px; }
        .for-product.for-service .cover .main-pro .type ul {
          display: block;
          overflow: hidden; }
          .for-product.for-service .cover .main-pro .type ul li {
            float: left;
            margin-left: 29px;
            display: block; }
            .for-product.for-service .cover .main-pro .type ul li a {
              display: block;
              font-size: 16px;
              color: #05080b; }
              .for-product.for-service .cover .main-pro .type ul li a.active {
                color: #26abe2; }
              .for-product.for-service .cover .main-pro .type ul li a:hover {
                color: #05b6ff; }
      .for-product.for-service .cover .main-pro .product-items {
        display: block;
        width: 100%;
        position: relative; }
        .for-product.for-service .cover .main-pro .product-items ul {
          display: block;
          overflow: hidden;
          width: 1022px;
          margin: 0 auto;
          padding-top: 29px; }
          .for-product.for-service .cover .main-pro .product-items ul li {
            float: left;
            display: block;
            margin-bottom: 30px; }
            .for-product.for-service .cover .main-pro .product-items ul li:nth-child(2n) {
              float: right; }
            .for-product.for-service .cover .main-pro .product-items ul li img {
              display: block;
              width: 494px;
              height: 333px; }

.for-package.for-service {
  background: #f4f4f4; }
  .for-package.for-service .cover {
    padding-top: 43px;
    /* For Main Package*/ }
    .for-package.for-service .cover .heading-one .icon-heading {
      background-position: -385px 0; }
    .for-package.for-service .cover .main-package {
      padding-top: 20px;
      display: block;
      width: 1022px;
      margin: 0 auto; }
      .for-package.for-service .cover .main-package ul {
        display: block; }
        .for-package.for-service .cover .main-package ul li {
          float: left;
          display: block;
          width: 323px;
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          position: relative;
          padding-bottom: 41px;
          margin-left: 26px; }
          .for-package.for-service .cover .main-package ul li.package-amateur {
            margin-left: 0;
            background: #5c5d5d; }
            .for-package.for-service .cover .main-package ul li.package-amateur .top-star {
              background: #333333; }
            .for-package.for-service .cover .main-package ul li.package-amateur .hidden-triangle {
              background: #5c5d5d; }
          .for-package.for-service .cover .main-package ul li.package-pro {
            background: #376ab3; }
            .for-package.for-service .cover .main-package ul li.package-pro .top-star {
              background: #213f7e; }
              .for-package.for-service .cover .main-package ul li.package-pro .top-star:before {
                border-top: 28px solid #102245; }
              .for-package.for-service .cover .main-package ul li.package-pro .top-star:after {
                border-bottom: 28px solid #102245; }
            .for-package.for-service .cover .main-package ul li.package-pro .hidden-triangle {
              background: #376ab3; }
          .for-package.for-service .cover .main-package ul li.package-advance {
            background: #80c143; }
            .for-package.for-service .cover .main-package ul li.package-advance .top-star {
              background: #589942; }
              .for-package.for-service .cover .main-package ul li.package-advance .top-star:before {
                border-top: 28px solid #315327; }
              .for-package.for-service .cover .main-package ul li.package-advance .top-star:after {
                border-bottom: 28px solid #315327; }
            .for-package.for-service .cover .main-package ul li.package-advance .hidden-triangle {
              background: #80c143; }
            .for-package.for-service .cover .main-package ul li.package-advance .sale {
              display: block;
              width: 100%;
              position: absolute;
              text-align: center;
              top: 132px;
              font-weight: 600; }
            .for-package.for-service .cover .main-package ul li.package-advance .ribbon {
              display: block;
              width: 102px;
              height: 110px;
              position: absolute;
              right: -11px;
              top: -9px; }
              .for-package.for-service .cover .main-package ul li.package-advance .ribbon img {
                display: block;
                width: 100%;
                height: 100%; }
              .for-package.for-service .cover .main-package ul li.package-advance .ribbon span {
                display: block;
                font-size: 11.4px;
                position: absolute;
                top: 34px;
                right: 12px;
                transform: rotate(48deg);
                -webkit-transform: rotate(48deg);
                -moz-transform: rotate(48deg); }
          .for-package.for-service .cover .main-package ul li .title {
            display: block;
            font-size: 30px;
            text-align: center;
            color: #fff;
            font-weight: 700;
            margin-top: 24px; }
          .for-package.for-service .cover .main-package ul li .price-package {
            display: block;
            font-size: 40px;
            text-align: center;
            color: #fff;
            margin-top: 14px;
            margin-bottom: 54px; }
          .for-package.for-service .cover .main-package ul li .top-star {
            display: block;
            width: 340px;
            height: 57px;
            left: -8px;
            position: relative;
            padding-top: 12px;
            text-align: center; }
            .for-package.for-service .cover .main-package ul li .top-star .star {
              display: inline-block;
              width: 28px;
              height: 33px;
              background-position: -8px -188px;
              margin: 0 15px; }
              .for-package.for-service .cover .main-package ul li .top-star .star.yellow {
                background-position: -8px -135px; }
            .for-package.for-service .cover .main-package ul li .top-star:before {
              content: "";
              width: 0;
              height: 0;
              border-left: 17px solid transparent;
              border-right: 9px solid transparent;
              border-top: 28px solid black;
              position: absolute;
              bottom: -28px;
              left: 0px;
              z-index: 1; }
            .for-package.for-service .cover .main-package ul li .top-star:after {
              content: "";
              width: 0;
              height: 0;
              border-left: 17px solid transparent;
              border-right: 9px solid transparent;
              border-bottom: 28px solid black;
              position: absolute;
              bottom: -28px;
              right: 0px;
              z-index: 1;
              -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
          .for-package.for-service .cover .main-package ul li .hidden-triangle {
            display: block;
            position: relative;
            width: 100%;
            height: 27px;
            z-index: 5; }
          .for-package.for-service .cover .main-package ul li .video-demo {
            display: block;
            width: calc( 100% - 26px );
            height: 201px;
            margin: 0 auto;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px; }
          .for-package.for-service .cover .main-package ul li .video-demo img {
            width: 100%;
            height: 100%; }
          .for-package.for-service .cover .main-package ul li .list-detail {
            display: block;
            width: 100%;
            padding: 0 20px;
            padding-top: 26px; }
            .for-package.for-service .cover .main-package ul li .list-detail .text-detail {
              display: block;
              font-size: 16px;
              color: #fff;
              border-bottom: 1px solid #8e8e8e;
              padding-bottom: 9px;
              margin-bottom: 14px; }
          .for-package.for-service .cover .main-package ul li .next-btn {
            display: block;
            margin: 0 auto;
            width: 121px;
            height: 36px;
            line-height: 36px;
            border-radius: 20px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            background: #f6eb14;
            font-size: 16px;
            color: #272727;
            text-align: center;
            margin-top: 39px; }

/* for footer*/
.for-footer {
  display: block;
  width: 100%;
  height: 230px;
  background: #1c2227;
  position: relative;
  z-index: 100; }
  .for-footer .cover-footer {
    display: block;
    width: 415px;
    margin: 0 auto;
    position: relative;
    padding-top: 51px;
    /* input reg*/
    /* /navi-foot*/
    /* social*/ }
    .for-footer .cover-footer .letter-img {
      display: block;
      position: absolute;
      right: -151px;
      top: 37px; }
    .for-footer .cover-footer .input-reg {
      display: block;
      width: 100%;
      height: 40px; }
      .for-footer .cover-footer .input-reg input {
        display: block;
        height: 100%;
        width: 100%;
        color: #333;
        font-size: 14px;
        border: none;
        outline: none;
        background: transparent;
        margin: 0;
        padding: 0;
        background: #fff;
        width: calc( 100% - 116px );
        padding: 0 11px;
        float: left;
        border-radius: 0px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0px; }
        .for-footer .cover-footer .input-reg input::-webkit-input-placeholder {
          color: #979a9d;
          opacity: 1; }
        .for-footer .cover-footer .input-reg input::-moz-placeholder {
          color: #979a9d;
          opacity: 1; }
        .for-footer .cover-footer .input-reg input:-ms-input-placeholder {
          color: #979a9d;
          opacity: 1; }
        .for-footer .cover-footer .input-reg input:-moz-placeholder {
          color: #979a9d;
          opacity: 1; }
        .for-footer .cover-footer .input-reg input:focus::-webkit-input-placeholder {
          color: transparent; }
        .for-footer .cover-footer .input-reg input:focus:-moz-placeholder {
          color: transparent; }
        .for-footer .cover-footer .input-reg input:focus::-moz-placeholder {
          color: transparent; }
        .for-footer .cover-footer .input-reg input:focus:-ms-input-placeholder {
          color: transparent; }
        .for-footer .cover-footer .input-reg input::-webkit-input-placeholder {
          font-weight: 400; }
        .for-footer .cover-footer .input-reg input::-moz-placeholder {
          font-weight: 400; }
        .for-footer .cover-footer .input-reg input:-ms-input-placeholder {
          font-weight: 400; }
        .for-footer .cover-footer .input-reg input:-moz-placeholder {
          font-weight: 400; }
      .for-footer .cover-footer .input-reg .btn-reg {
        float: right;
        width: 114px;
        height: 100%;
        line-height: 42px;
        background: #7cc244;
        text-align: center;
        font-size: 14px;
        color: #fff; }
        .for-footer .cover-footer .input-reg .btn-reg:hover {
          background-color: #81d73c; }
    .for-footer .cover-footer .navi-foot {
      display: block;
      width: 100%;
      overflow: hidden;
      padding: 51px 0 5px 6px; }
      .for-footer .cover-footer .navi-foot li {
        display: block;
        float: left;
        margin-right: 30px; }
        .for-footer .cover-footer .navi-foot li a {
          display: block;
          font-size: 12px;
          color: #fff;
          font-weight: 400; }
          .for-footer .cover-footer .navi-foot li a:hover {
            color: #7cc244; }
    .for-footer .cover-footer .list-social {
      display: block;
      overflow: hidden;
      margin: 0 auto;
      padding-left: 140px; }
      .for-footer .cover-footer .list-social li {
        float: left;
        display: block; }
        .for-footer .cover-footer .list-social li.face a {
          display: block;
          width: 19px;
          height: 20px;
          background-position: -92px -136px;
          margin-top: 19px; }
        .for-footer .cover-footer .list-social li.twin {
          margin-left: 42px; }
          .for-footer .cover-footer .list-social li.twin a {
            display: block;
            width: 24px;
            height: 25px;
            background-position: -94px -180px;
            margin-top: 17px; }
        .for-footer .cover-footer .list-social li.google {
          margin-left: 47px; }
          .for-footer .cover-footer .list-social li.google a {
            display: block;
            width: 27px;
            height: 13px;
            background-position: -93px -224px;
            margin-top: 23px; }

.cover-navigation {
  display: block;
  position: absolute;
  width: 310px;
  text-align: center;
  margin-left: -155px;
  left: 50%;
  top: 50%;
  margin-top: -182.5px;
  z-index: 200; }

/* For main navi*/
.main-navigation {
  display: block;
  width: 100%;
  z-index: 200; }
  .main-navigation .xclose {
    display: block;
    width: 20px;
    height: 20px;
    background-position: -152px -126px;
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 200; }
  .main-navigation ul li {
    display: block;
    margin-bottom: 43px; }
    .main-navigation ul li a {
      font-weight: 400;
      font-size: 30px;
      color: #fff; }
      .main-navigation ul li a.active {
        color: #47b1e5; }
      .main-navigation ul li a:hover {
        color: #47b1e5; }

/* Main Search*/
.main-search {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0; }
  .main-search .xclose {
    display: block;
    width: 20px;
    height: 20px;
    background-position: -152px -126px;
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 200; }
  .main-search .input {
    display: block;
    width: 301px;
    height: 52px;
    margin-left: -150.5px;
    margin-top: -26px;
    padding-right: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200; }
    .main-search .input input {
      display: block;
      height: 100%;
      width: 100%;
      color: #fff;
      font-size: 14px;
      border: none;
      outline: none;
      background: transparent;
      margin: 0;
      padding: 0;
      color: #fff;
      padding: 0 17px; }
      .main-search .input input::-webkit-input-placeholder {
        color: #fff;
        opacity: 1; }
      .main-search .input input::-moz-placeholder {
        color: #fff;
        opacity: 1; }
      .main-search .input input:-ms-input-placeholder {
        color: #fff;
        opacity: 1; }
      .main-search .input input:-moz-placeholder {
        color: #fff;
        opacity: 1; }
      .main-search .input input:focus::-webkit-input-placeholder {
        color: transparent; }
      .main-search .input input:focus:-moz-placeholder {
        color: transparent; }
      .main-search .input input:focus::-moz-placeholder {
        color: transparent; }
      .main-search .input input:focus:-ms-input-placeholder {
        color: transparent; }
    .main-search .input .search-icon {
      display: block;
      width: 23px;
      height: 23px;
      background-position: -150px -87px;
      position: absolute;
      right: 20px;
      top: 16px; }

/*for-intro-f*/
.for-intro-f {
  display: block;
  width: 100%;
  position: relative;
  padding: 0 129px;
  background: #fff; }
  .for-intro-f .cover {
    display: block;
    width: 1022px;
    position: relative;
    margin: 0 auto;
    /* img left*/
    /*text right*/ }
    .for-intro-f .cover .img-left {
      float: left;
      width: 526px;
      height: 433px;
      position: relative; }
      .for-intro-f .cover .img-left img:first-child {
        display: block;
        width: 437px;
        height: 274px;
        position: absolute;
        z-index: 2;
        right: 0;
        top: 71px; }
      .for-intro-f .cover .img-left img:last-child {
        display: block;
        width: 328px;
        height: 207px;
        position: absolute;
        z-index: 3;
        left: 0;
        top: 139px; }
    .for-intro-f .cover .text-right-side {
      float: left;
      width: calc( 100% - 526px );
      padding-left: 77px;
      padding-top: 71px;
      /* Heading One*/
      /*Content*/ }
      .for-intro-f .cover .text-right-side .heading-one {
        display: block;
        width: 100%;
        position: relative; }
        .for-intro-f .cover .text-right-side .heading-one .icon-heading {
          display: inline-block;
          width: 52px;
          height: 52px;
          background-position: -178px 0;
          vertical-align: middle; }
        .for-intro-f .cover .text-right-side .heading-one .text-heading {
          display: inline-block;
          font-size: 32px;
          color: #05080b;
          vertical-align: middle;
          margin-left: 15px; }
        .for-intro-f .cover .text-right-side .heading-one .line-heading {
          display: block;
          width: calc( 100% - 71px );
          height: 1px;
          background: #dbdad9;
          position: absolute;
          left: 71px;
          bottom: 2px; }
      .for-intro-f .cover .text-right-side .blue-text {
        display: block;
        line-height: 28px;
        font-size: 20px;
        color: #077bb7;
        margin-top: 30px; }
      .for-intro-f .cover .text-right-side .grey-text {
        display: block;
        font-size: 16px;
        line-height: 30px;
        color: #979a9d;
        margin-top: 13px; }
  .for-intro-f.why-chose {
    background: #f4f4f4;
    height: 400px; }
    .for-intro-f.why-chose .img-left {
      float: right; }
      .for-intro-f.why-chose .img-left img:first-child {
        left: 28px;
        right: auto; }
      .for-intro-f.why-chose .img-left img:last-child {
        right: 0px;
        left: auto; }
    .for-intro-f.why-chose .text-right-side {
      float: left;
      padding-left: 0;
      padding-top: 54px; }

/* DvsvLab Have*/
.desvlab-have {
  display: block;
  width: 100%; }
  .desvlab-have .cover {
    height: 468px; }
  .desvlab-have ul {
    display: block;
    width: 100%;
    float: left; }
    .desvlab-have ul li {
      float: left;
      width: 33.3%; }
      .desvlab-have ul li:nth-child(1) {
        padding-left: 2px;
        padding-right: 70px; }
        .desvlab-have ul li:nth-child(1) img {
          margin-top: 48px;
          margin-bottom: 47px; }
      .desvlab-have ul li:nth-child(2) {
        padding-left: 19px;
        padding-right: 20px; }
        .desvlab-have ul li:nth-child(2) img {
          margin-top: 43px;
          margin-bottom: 51px; }
      .desvlab-have ul li:nth-child(3) {
        padding-left: 51px;
        position: relative;
        left: 15px; }
        .desvlab-have ul li:nth-child(3) img {
          margin-top: 43px;
          margin-bottom: 45px; }
      .desvlab-have ul li img {
        display: block; }
      .desvlab-have ul li .green-text {
        display: block;
        font-size: 25px;
        color: #7bc144;
        margin-bottom: 11px; }
      .desvlab-have ul li .grey-text {
        display: block;
        color: #979a9d;
        font-size: 16px;
        line-height: 30px; }

/*for faq*/
.for-service.for-faq .cover {
  /* List FAQ*/ }
  .for-service.for-faq .cover .heading-one .icon-heading {
    background-position: -385px -71px; }
  .for-service.for-faq .cover .intro-faq {
    display: block;
    font-size: 16px;
    line-height: 30px;
    color: #979a9d;
    margin-top: 37px;
    margin-bottom: 31px; }
  .for-service.for-faq .cover .list-faq {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 12px; }
    .for-service.for-faq .cover .list-faq ul {
      display: block; }
      .for-service.for-faq .cover .list-faq ul li {
        display: block;
        margin-bottom: 18px; }
        .for-service.for-faq .cover .list-faq ul li .question-here {
          display: block;
          width: 100%;
          height: 50px;
          border: 1px solid #cccccc;
          position: relative;
          margin-bottom: 6px; }
          .for-service.for-faq .cover .list-faq ul li .question-here a {
            display: block;
            width: 29px;
            height: 29px;
            background-position: -408px -192px;
            position: absolute;
            top: 9px;
            left: 20px; }
          .for-service.for-faq .cover .list-faq ul li .question-here .faq-here {
            display: block;
            font-size: 16px;
            line-height: 48px;
            color: #979a9d;
            padding-left: 67px; }
        .for-service.for-faq .cover .list-faq ul li .solve-questions {
          display: none;
          font-size: 16px;
          line-height: 30px;
          color: #979a9d;
          padding-left: 67px;
          margin-bottom: 43px; }
        .for-service.for-faq .cover .list-faq ul li.active .solve-questions {
          display: block; }
        .for-service.for-faq .cover .list-faq ul li.active .question-here a {
          background-position: -408px -148px; }

/*Contact*/
.for-contact {
  display: block;
  width: 100%;
  /* for contact*/ }
  .for-contact .cover {
    padding-top: 68px; }
  .for-contact .map-cover-here {
    display: block;
    width: 100%;
    height: 460px;
    background-color: #ccc;
    margin-top: 48px; }
  .for-contact .contact-here {
    display: block;
    width: 100%;
    /* Left Address*/
    /*Main  For Us*/ }
    .for-contact .contact-here .left-address {
      display: block;
      float: left;
      width: calc(  100% - 657px );
      padding-top: 57px; }
      .for-contact .contact-here .left-address ul {
        display: block; }
        .for-contact .contact-here .left-address ul li {
          display: block;
          padding-bottom: 27px; }
          .for-contact .contact-here .left-address ul li:last-child {
            padding-bottom: 16px; }
          .for-contact .contact-here .left-address ul li .blue-text {
            display: block;
            font-size: 32px;
            color: #5081c2;
            margin-bottom: 32px; }
          .for-contact .contact-here .left-address ul li .dark-text {
            display: block;
            font-size: 16px;
            color: #484848;
            margin-bottom: 16px; }
    .for-contact .contact-here .mail-for-us {
      float: right;
      width: 657px;
      padding-top: 57px; }
      .for-contact .contact-here .mail-for-us .blue-text {
        display: block;
        font-size: 32px;
        color: #5081c2;
        margin-bottom: 32px; }
      .for-contact .contact-here .mail-for-us .dark-text {
        display: block;
        font-size: 16px;
        color: #484848; }
      .for-contact .contact-here .mail-for-us .small-input {
        display: block;
        float: left;
        width: 205px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        margin-right: 21px;
        margin-top: 49px; }
        .for-contact .contact-here .mail-for-us .small-input input {
          display: block;
          height: 100%;
          width: 100%;
          color: #333;
          font-size: 16px;
          border: none;
          outline: none;
          background: transparent;
          margin: 0;
          padding: 0;
          padding-left: 20px; }
          .for-contact .contact-here .mail-for-us .small-input input::-webkit-input-placeholder {
            color: #484848;
            opacity: 1; }
          .for-contact .contact-here .mail-for-us .small-input input::-moz-placeholder {
            color: #484848;
            opacity: 1; }
          .for-contact .contact-here .mail-for-us .small-input input:-ms-input-placeholder {
            color: #484848;
            opacity: 1; }
          .for-contact .contact-here .mail-for-us .small-input input:-moz-placeholder {
            color: #484848;
            opacity: 1; }
          .for-contact .contact-here .mail-for-us .small-input input:focus::-webkit-input-placeholder {
            color: transparent; }
          .for-contact .contact-here .mail-for-us .small-input input:focus:-moz-placeholder {
            color: transparent; }
          .for-contact .contact-here .mail-for-us .small-input input:focus::-moz-placeholder {
            color: transparent; }
          .for-contact .contact-here .mail-for-us .small-input input:focus:-ms-input-placeholder {
            color: transparent; }
        .for-contact .contact-here .mail-for-us .small-input.last {
          margin-right: 0; }
      .for-contact .contact-here .mail-for-us .big-input {
        width: 100%;
        height: 127px;
        border: none;
        margin-top: 9px; }
        .for-contact .contact-here .mail-for-us .big-input textarea {
          display: block;
          height: 100%;
          width: 100%;
          color: #333;
          font-size: 16px;
          border: none;
          outline: none;
          background: transparent;
          margin: 0;
          padding: 0;
          display: block;
          width: 100%;
          height: 100%;
          color: #484848;
          padding: 12px 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          -moz-border-radius: 5px;
          -webkit-border-radius: 5px;
          resize: none;
          outline: none;
          position: relative; }
          .for-contact .contact-here .mail-for-us .big-input textarea::-webkit-input-placeholder {
            color: #484848;
            opacity: 1; }
          .for-contact .contact-here .mail-for-us .big-input textarea::-moz-placeholder {
            color: #484848;
            opacity: 1; }
          .for-contact .contact-here .mail-for-us .big-input textarea:-ms-input-placeholder {
            color: #484848;
            opacity: 1; }
          .for-contact .contact-here .mail-for-us .big-input textarea:-moz-placeholder {
            color: #484848;
            opacity: 1; }
          .for-contact .contact-here .mail-for-us .big-input textarea:focus::-webkit-input-placeholder {
            color: transparent; }
          .for-contact .contact-here .mail-for-us .big-input textarea:focus:-moz-placeholder {
            color: transparent; }
          .for-contact .contact-here .mail-for-us .big-input textarea:focus::-moz-placeholder {
            color: transparent; }
          .for-contact .contact-here .mail-for-us .big-input textarea:focus:-ms-input-placeholder {
            color: transparent; }
      .for-contact .contact-here .mail-for-us .btn-send {
        display: block;
        width: 92px;
        height: 40px;
        font-size: 16px;
        color: #7cc243;
        border: 1px solid #7cc243;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        text-align: center;
        line-height: 36px;
        margin-top: 18px;
        padding-top: 1px; }
        .for-contact .contact-here .mail-for-us .btn-send:hover {
          color: #fff;
          border-color: transparent;
          background-color: #7bc143; }

.chat-with-us {
  display: block;
  width: 249px;
  position: absolute;
  right: 20px;
  z-index: 1000; }
  .chat-with-us.active {
    top: -304px; }
    .chat-with-us.active .blue-cover {
      top: 0; }
      .chat-with-us.active .blue-cover .icon {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg); }
    .chat-with-us.active .cover-white {
      display: block;
      width: 100%;
      height: 268px;
      border: 1px solid #e5e5e4;
      background: #fff;
      padding: 0 15px; }
      .chat-with-us.active .cover-white .title {
        display: block;
        font-size: 14px;
        color: #090e12;
        margin: 14px 0;
        opacity: 0.8; }
      .chat-with-us.active .cover-white .input {
        width: 100%;
        height: 30px;
        border: 1px solid #e5e5e4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        margin-bottom: 9px; }
        .chat-with-us.active .cover-white .input input {
          display: block;
          height: 100%;
          width: 100%;
          color: #a58888;
          font-size: 12px;
          border: none;
          outline: none;
          background: transparent;
          margin: 0;
          padding: 0;
          padding-left: 9px; }
          .chat-with-us.active .cover-white .input input::-webkit-input-placeholder {
            color: #a58888;
            opacity: 1; }
          .chat-with-us.active .cover-white .input input::-moz-placeholder {
            color: #a58888;
            opacity: 1; }
          .chat-with-us.active .cover-white .input input:-ms-input-placeholder {
            color: #a58888;
            opacity: 1; }
          .chat-with-us.active .cover-white .input input:-moz-placeholder {
            color: #a58888;
            opacity: 1; }
          .chat-with-us.active .cover-white .input input:focus::-webkit-input-placeholder {
            color: transparent; }
          .chat-with-us.active .cover-white .input input:focus:-moz-placeholder {
            color: transparent; }
          .chat-with-us.active .cover-white .input input:focus::-moz-placeholder {
            color: transparent; }
          .chat-with-us.active .cover-white .input input:focus:-ms-input-placeholder {
            color: transparent; }
      .chat-with-us.active .cover-white .text-area {
        width: 100%;
        height: 79px;
        border: 1px solid #e5e5e4;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px; }
        .chat-with-us.active .cover-white .text-area textarea {
          line-height: 16px;
          resize: none;
          display: block;
          height: 100%;
          width: 100%;
          color: #a58888;
          font-size: 12px;
          border: none;
          outline: none;
          background: transparent;
          margin: 0;
          padding: 0;
          padding-left: 9px;
          padding-top: 6px; }
          .chat-with-us.active .cover-white .text-area textarea::-webkit-input-placeholder {
            color: #a58888;
            opacity: 1; }
          .chat-with-us.active .cover-white .text-area textarea::-moz-placeholder {
            color: #a58888;
            opacity: 1; }
          .chat-with-us.active .cover-white .text-area textarea:-ms-input-placeholder {
            color: #a58888;
            opacity: 1; }
          .chat-with-us.active .cover-white .text-area textarea:-moz-placeholder {
            color: #a58888;
            opacity: 1; }
          .chat-with-us.active .cover-white .text-area textarea:focus::-webkit-input-placeholder {
            color: transparent; }
          .chat-with-us.active .cover-white .text-area textarea:focus:-moz-placeholder {
            color: transparent; }
          .chat-with-us.active .cover-white .text-area textarea:focus::-moz-placeholder {
            color: transparent; }
          .chat-with-us.active .cover-white .text-area textarea:focus:-ms-input-placeholder {
            color: transparent; }
      .chat-with-us.active .cover-white .next-btn {
        display: block;
        width: 86px;
        height: 30px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        background: #47b1e5;
        margin-top: 20px;
        float: right;
        padding-top: 8px; }
        .chat-with-us.active .cover-white .next-btn:hover {
          background-color: #38bdf5; }
  .chat-with-us .cover-white {
    display: none; }
  .chat-with-us .blue-cover {
    display: block;
    width: 249px;
    height: 36px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    background: #47b1e5;
    top: -36px;
    position: relative;
    line-height: 36px;
    padding-left: 20px; }
    .chat-with-us .blue-cover .text-only {
      font-size: 14px;
      display: block;
      color: #fff; }
    .chat-with-us .blue-cover .icon {
      display: block;
      width: 12px;
      height: 7px;
      background-position: -92px -70px;
      position: absolute;
      right: 15px;
      top: 14px; }
    .chat-with-us .blue-cover a {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: #fff; }

.scroll-top {
  display: block;
  width: 29px;
  height: 29px;
  background-position: -92px -89px;
  position: fixed;
  right: 20px;
  bottom: 80px;
  z-index: 500; }

body.lock-scroll {
  overflow: hidden;
  height: 100vh; }

.always-scroll {
  overflow-y: scroll; }

/* dynamic gradient background*/
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 51%; }
  100% {
    background-position: 0% 50%; } }
@keyframes AnimationName {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 51%; }
  100% {
    background-position: 0% 50%; } }
/* d3 css*/
path {
  stroke: #fff;
  stroke-width: 2;
  fill: none;
  opacity: .5; }

.axis path,
.axis line {
  fill: none;
  stroke: grey;
  stroke-width: 3;
  shape-rendering: crispEdges; }

.axis {
  display: none; }

.dot {
  display: none;
  stroke: none; }

.dot.active {
  fill: #f5eb22;
  stroke: #f5eb21;
  stroke-width: 3px; }

.name-box {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 62px;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  position: absolute;
  top: 190px; }
  .name-box.left {
    left: 369px; }
  .name-box.right {
    left: 144px; }

.light-desk {
  display: block; }

.light-mobi {
  display: none; }

.dot-light {
  display: block;
  position: relative;
  top: 174px;
  left: 268px; }
  .dot-light .node {
    display: block;
    position: absolute;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; }
    .dot-light .node.node1 {
      display: block;
      width: 11px;
      height: 11px;
      background-color: #ebe014;
      top: 0;
      left: 0; }
    .dot-light .node.node2 {
      display: block;
      width: 15px;
      height: 15px;
      background-color: #bbd432;
      top: 15px;
      left: 4px; }
    .dot-light .node.node3 {
      display: block;
      width: 19px;
      height: 19px;
      background-color: #8ac97d;
      top: 33px;
      left: 12px; }
    .dot-light .node.node4 {
      display: block;
      width: 26px;
      height: 26px;
      background-color: #4199ba;
      top: 48px;
      left: 32px; }
    .dot-light .node.node5 {
      display: block;
      width: 19px;
      height: 19px;
      background-color: #8ac97d;
      top: 33px;
      left: 60px; }
    .dot-light .node.node6 {
      display: block;
      width: 15px;
      height: 15px;
      background-color: #bbd432;
      top: 15px;
      left: 72px; }
    .dot-light .node.node7 {
      display: block;
      width: 11px;
      height: 11px;
      background-color: #ebe014;
      top: 0;
      left: 81px; }
    .dot-light .node.active {
      background-color: #f5eb22; }

.cls-1 {
  transform: translate(0px, 10px); }

/*# sourceMappingURL=style.css.map */
