/* line 1, ../scss/partials/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 7, ../scss/partials/_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1;
  font-size: 100%;
  font-style: normal;
  list-style-type: none;
  vertical-align: baseline;
  background: transparent;
}

/* line 31, ../scss/partials/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 35, ../scss/partials/_reset.scss */
abbr[title], dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}

/* line 39, ../scss/partials/_reset.scss */
a {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
  background: transparent;
}

/* line 48, ../scss/partials/_reset.scss */
a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

/* line 52, ../scss/partials/_reset.scss */
body {
  font-family: 'ProximaNova';
  font-weight: normal;
  font-style: normal;
}

/* line 57, ../scss/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 60, ../scss/partials/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 65, ../scss/partials/_reset.scss */
del {
  text-decoration: line-through;
}

/* line 68, ../scss/partials/_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 76, ../scss/partials/_reset.scss */
ins {
  color: #000;
  text-decoration: none;
  background-color: #ff9;
}

/* line 81, ../scss/partials/_reset.scss */
mark {
  color: #000;
  font-style: italic;
  font-weight: bold;
  background-color: #ff9;
}

/* line 87, ../scss/partials/_reset.scss */
table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

/* line 92, ../scss/partials/_reset.scss */
input, select, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: middle;
  outline: 0;
  -ms-overflow-style: none;
}

/* line 99, ../scss/partials/_reset.scss */
input {
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  color: #fff;
  line-height: 1;
  font-style: normal;
  vertical-align: baseline;
  background: transparent;
}

/* line 110, ../scss/partials/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: absolute;
  left: -9999px;
}

/* line 121, ../scss/partials/_reset.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 125, ../scss/partials/_reset.scss */
input[type="search"] {
  outline: 0;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 132, ../scss/partials/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  outline: 0;
  -webkit-appearance: none;
}

/* line 137, ../scss/partials/_reset.scss */
input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

/* line 1, ../scss/partials/_custom.scss */
.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  background-color: #fff;
  overflow-y: auto;
  position: relative;
}

/* line 12, ../scss/partials/_custom.scss */
.row {
  margin: 0;
  padding: 0;
}

/* line 16, ../scss/partials/_custom.scss */
.clear, .clear:before, .clear:after {
  clear: both;
}

/* line 19, ../scss/partials/_custom.scss */
.icons {
  background-position: 0 0;
}

/* line 22, ../scss/partials/_custom.scss */
.make-ver-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 30, ../scss/partials/_custom.scss */
.make-hol-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* line 1, ../scss/partials/_dashboard.scss */
.cover-desvlab {
  display: block;
  width: 100%;
}
/* line 5, ../scss/partials/_dashboard.scss */
.cover-desvlab .ideal-from-idea {
  display: block;
  width: 100%;
  height: 1068px;
  background: #022938;
  position: relative;
}
/* line 12, ../scss/partials/_dashboard.scss */
.cover-desvlab .ideal-from-idea .universe-top-left {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 334px;
  height: 215px;
}
/* line 20, ../scss/partials/_dashboard.scss */
.cover-desvlab .ideal-from-idea .universe-bottom-left {
  display: block;
  position: absolute;
  bottom: 46px;
  left: 91px;
  width: 99px;
  height: 218px;
}
/* line 28, ../scss/partials/_dashboard.scss */
.cover-desvlab .ideal-from-idea .universe-bottom-right {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 585px;
  height: 671px;
}
/* line 38, ../scss/partials/_dashboard.scss */
.cover-desvlab .member-desvlab {
  display: block;
  width: 100%;
  height: 1126px;
}
/* line 42, ../scss/partials/_dashboard.scss */
.cover-desvlab .member-desvlab img {
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
}
/* line 52, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab {
  display: block;
  width: 100%;
  height: 1080px;
  position: relative;
}
/* line 58, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service {
  float: left;
  width: 50%;
  height: 100%;
  background: #022938;
  position: relative;
}
/* line 64, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .btn-table-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 29.6875%;
  height: 3.875vw;
  font-weight: 300;
  color: #fff;
  font-size: 1.5625vw;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  float: right;
  margin-right: 43.125%;
  margin-top: 83px;
}
/* line 80, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .text-detail {
  display: block;
  text-align: right;
  font-size: 0.9375vw;
  line-height: 1.354166667vw;
  color: #fff;
  font-weight: 300;
  padding-right: 43.125%;
  padding-left: 17.91666667%;
  margin-top: 29px;
  position: relative;
}
/* line 91, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .text-detail:before {
  content: "";
  display: block;
  width: 12.1875%;
  height: 7px;
  background: #e4c460;
  position: absolute;
  right: 43.125%;
  bottom: -28px;
}
/* line 103, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .title-service {
  display: block;
  width: 100%;
  position: relative;
  padding-top: 268px;
  z-index: 1;
}
/* line 109, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .title-service .cover-center {
  display: block;
}
/* line 112, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .title-service .title-here {
  display: block;
  float: right;
  width: 34.2708333333%;
  height: 10.365vw;
  position: relative;
  border: 0.78125vw solid #313247;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-right: 43.125%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 124, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .title-service .title-here .text-one {
  display: block;
  font-size: 2.6041666667vw;
  font-weight: bold;
  color: #e4c460;
  text-transform: uppercase;
  padding-left: 1.823vw;
  line-height: 1;
}
/* line 133, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .title-service .title-here .text-tow {
  display: block;
  font-size: 2.6041666667vw;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  left: -3.906vw;
  margin-top: 0.365vw;
  line-height: 1;
}
/* line 146, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .universe-top-left {
  display: block;
  width: 382px;
  height: 499px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 154, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .left-service .gear-bottom-left {
  display: block;
  width: 16.406vw;
  height: 290px;
  position: absolute;
  bottom: 138px;
  left: 34px;
}
/* line 164, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .right-service {
  float: right;
  width: 50%;
  height: 100%;
  background: url(../i/desk/pattern.png);
}
/* line 171, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service {
  display: block;
  width: 61.875%;
  position: absolute;
  top: 138px;
  right: 5.104%;
  border: 4px solid rgba(73, 74, 87, 0.3);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  z-index: 2;
}
/* line 183, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul {
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}
/* line 189, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  padding-top: 13.011%;
  padding-left: 12.5423%;
}
/* line 196, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li .icon-one {
  height: 3.75vw;
  position: absolute;
  top: 0;
  left: 24.84%;
}
/* line 202, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li .icon-two {
  height: 3.645833333vw;
  position: absolute;
  top: 0;
  left: 24.84%;
}
/* line 208, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li .icon-three {
  height: 3.854166667vw;
  position: absolute;
  top: 0;
  left: 24.84%;
}
/* line 214, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li .icon-four {
  height: 3.59375vw;
  position: absolute;
  top: 0;
  left: 24.84%;
}
/* line 220, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li .detail-item {
  display: block;
  font-size: 1.124479167vw;
  color: #7a7a7a;
  font-weight: 300;
  margin-top: 44px;
  line-height: 1.61875vw;
  padding-right: 21.2%;
  text-align: justify;
}
/* line 230, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li .title-item {
  display: block;
  font-size: 1.5625vw;
  font-weight: 600;
  color: #363a49;
  text-transform: uppercase;
  position: relative;
}
/* line 237, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li .title-item:before {
  content: "";
  display: block;
  width: 128px;
  height: 5px;
  background: #e4c460;
  position: absolute;
  left: 2px;
  bottom: -21px;
}
/* line 248, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li .icons {
  display: block;
  position: absolute;
  top: 0;
  left: 65px;
}
/* line 255, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li.one .icons {
  width: 76px;
  height: 73px;
  background-position: 0 -2px;
}
/* line 262, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li.two .icons {
  width: 83px;
  height: 70px;
  background-position: -147px -4px;
}
/* line 268, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li.three {
  margin-bottom: 44px;
}
/* line 270, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li.three .icons {
  width: 74px;
  height: 74px;
  background-position: -302px 0;
}
/* line 276, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li.four {
  margin-bottom: 44px;
}
/* line 278, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .white-div-service ul li.four .icons {
  width: 81px;
  height: 69px;
  background-position: -449px -5px;
}
/* line 287, ../scss/partials/_dashboard.scss */
.cover-desvlab .service-desvlab .logo-company {
  display: block;
  width: 24.063vw;
  height: 283px;
  position: absolute;
  top: calc( 50% - 141.5px);
  left: calc( 50% - 12.031vw);
}
/* line 297, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab {
  display: block;
  width: 100%;
  height: 1081px;
  background: #022938;
  position: relative;
}
/* line 303, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .universe-top-right {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
}
/* line 309, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .white-div {
  display: block;
  width: 50%;
  height: 100%;
  position: relative;
}
/* line 315, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .white-div .title-project {
  display: block;
  width: 66.45833333%;
  height: 100%;
  padding-top: 0px;
  background: #fff;
  padding-top: 62px;
}
/* line 322, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .white-div .title-project .title-here {
  display: block;
  width: 51.56739812%;
  height: 10.365vw;
  position: relative;
  border: 0.78125vw solid #dadada;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-left: 10.03134%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 333, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .white-div .title-project .title-here .cover-center {
  display: block;
  width: 100%;
}
/* line 337, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .white-div .title-project .title-here .text-one {
  display: block;
  font-size: 2.60416667vw;
  font-weight: bold;
  color: #9c51a1;
  text-transform: uppercase;
  text-align: right;
  position: relative;
  left: 0.67708333vw;
}
/* line 347, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .white-div .title-project .title-here .text-tow {
  display: block;
  font-size: 2.60416667vw;
  font-weight: bold;
  color: #e4c460;
  text-transform: uppercase;
  position: relative;
  margin-top: 0.36458333vw;
  text-align: right;
  left: 7.76041667vw;
}
/* line 357, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .white-div .title-project .title-here .text-tow i:first-child {
  color: #9c51a1;
}
/* line 360, ../scss/partials/_dashboard.scss */
.cover-desvlab .project-desvlab .white-div .title-project .title-here .text-tow i:last-child {
  color: #e4c460;
}
/* line 369, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab {
  display: block;
  width: 100%;
  height: 1081px;
  background: #022938;
  position: relative;
}
/* line 376, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .title-contact {
  display: block;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 90px;
}
/* line 382, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .title-contact .cover-center {
  display: block;
  width: 100%;
}
/* line 386, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .title-contact .title-here {
  display: block;
  float: right;
  width: 329px;
  width: 17.13541667%;
  height: 10.365vw;
  position: relative;
  border: 0.78125vw solid #606674;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin-right: 4.325vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 399, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .title-contact .title-here .cover-center {
  display: block;
  width: 100%;
}
/* line 403, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .title-contact .title-here .text-one {
  display: block;
  font-size: 2.60416667vw;
  font-weight: bold;
  color: #a665ab;
  text-transform: uppercase;
  position: relative;
  left: -8.020833333vw;
}
/* line 412, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .title-contact .title-here .text-tow {
  display: block;
  font-size: 2.60416667vw;
  font-weight: bold;
  color: #e5c461;
  text-transform: uppercase;
  position: relative;
  padding-left: 0.260416667vw;
  margin-top: 0.36458vw;
}
/* line 425, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all {
  width: 100%;
  position: relative;
}
/* line 429, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact {
  float: left;
  width: 45.833%;
  position: relative;
}
/* line 433, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .btn-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 59.433%;
  height: 4.167vw;
  border: 1px solid #fff;
  float: right;
  justify-content: center;
  font-size: 2.083vw;
  color: #fff;
  margin-top: 18px;
}
/* line 443, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .btn-contact i {
  display: inline-block;
  font-size: 2.083vw;
  color: #e5c461;
  margin: 0 0.677vw;
}
/* line 449, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .btn-contact .fly-svg {
  width: 1.823vw;
  height: 1.615vw;
  margin-left: 1.354vw;
}
/* line 456, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group {
  float: right;
  width: 59.433%;
  padding-bottom: 0.729166666vw;
  border-bottom: 1px solid #48505f;
  margin-bottom: 1.71875vw;
}
/* line 462, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .title-yellow {
  display: block;
  font-size: 1.042vw;
  color: #e4c460;
  text-align: right;
  margin-bottom: 1.09375vw;
}
/* line 469, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .text-white {
  display: block;
  font-size: 1.354vw;
  line-height: 1.6667vw;
  color: #fff;
  text-align: right;
}
/* line 476, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input {
  display: block;
  width: 100%;
  position: relative;
}
/* line 480, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input.textarea {
  height: 64px;
  overflow: hidden;
}
/* line 484, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input.textarea:hover .scroller {
  display: block;
}
/* line 489, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.354vw;
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  text-align: right;
  line-height: 1.6667vw;
}
/* line 12, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 16, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 20, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 24, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 28, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 31, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input:focus:-moz-placeholder {
  color: transparent;
}
/* line 34, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input:focus::-moz-placeholder {
  color: transparent;
}
/* line 37, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input input:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 495, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea {
  display: block;
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.354vw;
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
  line-height: 1.6667vw;
  resize: none;
  padding-left: 10px;
  overflow: hidden;
  height: 64px;
}
/* line 12, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea::-webkit-input-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 16, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea::-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 20, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea:-ms-input-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 24, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea:-moz-placeholder {
  color: #ccc;
  opacity: 1;
}
/* line 28, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea:focus::-webkit-input-placeholder {
  color: transparent;
}
/* line 31, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea:focus:-moz-placeholder {
  color: transparent;
}
/* line 34, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea:focus::-moz-placeholder {
  color: transparent;
}
/* line 37, ../scss/partials/_mixin.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea:focus:-ms-input-placeholder {
  color: transparent;
}
/* line 505, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input .scroller {
  display: none;
  position: absolute;
  width: 10px;
  background: #fff;
}
/* line 511, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input .scroller .scroll {
  position: absolute;
  width: 10px;
  background: #022938;
  z-index: 2;
}
/* line 521, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact {
  float: right;
  width: 45.833%;
  height: 100%;
  position: relative;
}
/* line 526, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .title-right {
  display: block;
  font-size: 2.680vw;
  font-weight: bold;
  color: #fff;
  margin-top: 1.1458333333vw;
  margin-bottom: 4.6875vw;
}
/* line 533, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .title-right i {
  color: #a665ab;
  font-size: 2.680vw;
  font-weight: bold;
}
/* line 538, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .title-right span {
  color: #fff;
  font-size: 1.843vw;
  font-weight: bold;
}
/* line 545, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .group {
  display: block;
  width: 59.433%;
  position: relative;
  margin-bottom: 2.5vw;
}
/* line 550, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .group .title-yellow {
  display: block;
  font-size: 1.458vw;
  color: #e5c461;
}
/* line 555, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .group .text-white {
  display: block;
  font-size: 1.458vw;
  color: #fff;
  margin-bottom: 0.8333333333vw;
}
/* line 562, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .btn-hot-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 59.433%;
  height: 4.167vw;
  border: 1px solid #fff;
  float: left;
  justify-content: center;
  font-size: 2.083vw;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
}
/* line 574, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .btn-hot-line i {
  display: inline-block;
  font-size: 2.083vw;
  color: #e5c461;
  margin: 0 0.2604166666vw;
}
/* line 580, ../scss/partials/_dashboard.scss */
.cover-desvlab .contact-desvlab .wrapper-all .right-contact .btn-hot-line .call-svg {
  width: 1.510vw;
  height: 1.510vw;
}

/* line 590, ../scss/partials/_dashboard.scss */
.sir-desvlab {
  display: block;
  width: 100%;
  height: 1080px;
  position: relative;
  background: #fff;
}
/* line 597, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-img {
  float: left;
  width: 100%;
  height: 100%;
  position: relative;
  padding-right: 4.177vw;
}
/* line 605, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir {
  display: block;
  width: 100%;
  height: 486px;
  position: absolute;
  top: 208px;
}
/* line 612, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big {
  height: auto;
  overflow: hidden;
  padding-right: 0;
  padding-top: 59px;
}
/* line 617, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .img-div {
  -webkit-transform: skewX(0);
  -ms-transform: skewX(0);
  transform: skewX(0);
}
/* line 622, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .img-div.pink {
  height: 20px;
  background: transparent;
  width: 17.8%;
}
/* line 626, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .img-div.pink:before {
  content: "";
  display: none;
}
/* line 632, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .name-sir {
  display: block;
  font-weight: bold;
  font-size: 1.6666667vw;
  color: #1b1b1b;
  text-transform: uppercase;
  text-align: left;
}
/* line 640, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .position-sir {
  display: block;
  color: #7a7a7a;
  font-size: 1.354166667vw;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 31px;
}
/* line 648, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .detail-text {
  display: block;
  color: #7a7a7a;
  font-size: 1.354166667vw;
  text-align: left;
}
/* line 656, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .green-left {
  background: transparent;
}
/* line 659, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .green-right {
  background: transparent;
}
/* line 662, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .cover-text-big .cover-text {
  margin-left: 0;
}
/* line 667, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .img-div {
  float: right;
  width: 20.729%;
  height: 100%;
  -webkit-transform: skewX(18deg);
  -ms-transform: skewX(18deg);
  transform: skewX(18deg);
  overflow: hidden;
  text-align: center;
  position: relative;
  z-index: 5;
  margin-left: 1.14583333vw;
}
/* line 679, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .img-div img {
  position: absolute;
  -webkit-transform: skewX(-18deg);
  -ms-transform: skewX(-18deg);
  transform: skewX(-18deg);
  top: calc( 50% - 411px );
  left: calc( 50% - 411px );
}
/* line 687, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .img-div.pink {
  float: right;
  display: block;
  height: 100%;
  background: #9c51a1;
  z-index: 1;
}
/* line 693, ../scss/partials/_dashboard.scss */
.sir-desvlab .cover-sir .img-div.pink .before-div {
  display: block;
  width: 100%;
  height: 310px;
  background: #022938;
  position: absolute;
  left: -62px;
  top: 88px;
  -webkit-transform: skewX(18deg);
  -ms-transform: skewX(18deg);
  transform: skewX(-18deg);
}
/* line 709, ../scss/partials/_dashboard.scss */
.sir-desvlab .green-right {
  display: block;
  width: 20.44%;
  height: 310px;
  top: 88px;
  right: 0;
  position: absolute;
  background: #022938;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 724, ../scss/partials/_dashboard.scss */
.sir-desvlab .green-right .cover-center {
  display: block;
  width: 100%;
  position: relative;
  left: -4px;
}
/* line 730, ../scss/partials/_dashboard.scss */
.sir-desvlab .green-right .white-text {
  display: block;
  float: left;
  width: 100%;
  font-size: 2.60416667vw;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
/* line 738, ../scss/partials/_dashboard.scss */
.sir-desvlab .green-right .white-text i {
  color: #9c51a1;
}
/* line 741, ../scss/partials/_dashboard.scss */
.sir-desvlab .green-right .white-text.two {
  float: right;
  margin-top: 0.36458vw;
  text-align: right;
  padding-right: 3.4vw;
}
/* line 749, ../scss/partials/_dashboard.scss */
.sir-desvlab .green-left {
  display: block;
  width: calc( 17.084% - 5.208333333vw );
  background: #022938;
  position: absolute;
  top: 88px;
  height: 310px;
  -webkit-transform: skewX(18deg);
  -ms-transform: skewX(18deg);
  transform: skewX(18deg);
}
/* line 759, ../scss/partials/_dashboard.scss */
.sir-desvlab .green-left .in-green {
  display: block;
  width: 100%;
  height: 100%;
  background: #022938;
  left: -50%;
  position: absolute;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* line 774, ../scss/partials/_dashboard.scss */
  .cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input .scroller {
    display: none;
  }

  /* line 777, ../scss/partials/_dashboard.scss */
  .cover-desvlab .contact-desvlab .wrapper-all .left-contact .group .group-input textarea {
    overflow: auto;
  }
}
/* line 790, ../scss/partials/_dashboard.scss */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes toright {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes toright {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* line 826, ../scss/partials/_dashboard.scss */
.toright {
  -webkit-animation-name: toright;
  animation-name: toright;
}

/* line 2, ../scss/partials/_lib.scss */
.main-logo {
  display: block;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: calc(50% - 200px);
}
/* line 9, ../scss/partials/_lib.scss */
.main-logo .logo-box {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 13, ../scss/partials/_lib.scss */
.main-logo .logo-box .logo-desvlab {
  width: 100%;
  height: 100%;
}

/* line 19, ../scss/partials/_lib.scss */
.fireworks {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

/* line 32, ../scss/partials/_lib.scss */
.desvlab-swiper-slider {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
}
/* line 38, ../scss/partials/_lib.scss */
.desvlab-swiper-slider .main-slider {
  display: block;
}

/* line 44, ../scss/partials/_lib.scss */
.project-desvlab .logo-web-show {
  display: block;
  position: absolute;
  top: 0;
}
/* line 48, ../scss/partials/_lib.scss */
.project-desvlab .logo-web-show .sg-svg {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  top: 0;
}

/* line 58, ../scss/partials/_lib.scss */
.swiper-container {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* line 64, ../scss/partials/_lib.scss */
.swiper-slide.swiper-slide-active {
  box-shadow: 0px 4px 24.33px 10.67px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 4px 24.33px 10.67px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 4px 24.33px 10.67px rgba(0, 0, 0, 0.35);
}

/* line 69, ../scss/partials/_lib.scss */
.swiper-slide {
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  width: 1047px;
  height: 623px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 79, ../scss/partials/_lib.scss */
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  display: none;
}

/* line 83, ../scss/partials/_lib.scss */
.fp-tableCell {
  display: block;
}

/*# sourceMappingURL=style.css.map */
