<footer class="for-footer">
	<div class="chat-with-us" data-ng-class="{active:isShowChat}">
		<div class="blue-cover">
			<a href="javascript:;" data-ng-click="isShowChat=!isShowChat"></a>
			<p class="text-only">Liên hệ chúng tôi !</p>
			<i class="icon"></i>
		</div>
		<!-- Blue Cover -->
		<div class="cover-white">
			<p class="title">Hãy liên hệ chúng tôi khi bạn cần</p>
			<div class="input">
				<input type="text" placeholder="Bấm vào đây và gõ tên của bạn">
			</div>
			<div class="input">
				<input type="text" placeholder="Bấm vào đây và gõ email của bạn">
			</div>
			<div class="text-area">
				<textarea placeholder="Chúng tôi vẫn muốn được nghe từ bạn! Để chúng tôi lưu ý:"></textarea>
			</div>
			<a href="javascript:;" class="next-btn">Tiếp tục</a>
		</div>
		<!-- White Cover -->
	</div>
	<!-- Chat With Us -->
	<div class="cover-footer">
		<img class="letter-img hidden-xs hidden-sm" src="i/letter.png" alt="letter">
		<img class="letter-img visible-xs visible-sm" src="i/mobi/letter.png" alt="letter"> 
		<div class="input-reg">
			<input type="text" placeholder="Địa chỉ email">
			<a class="btn-reg" href="javascript:;">Đăng ký</a>
		</div>
		<ul class="navi-foot">
			<li>
				<a href="javascript:;" data-ng-click="goDashboard()">Trang chủ</a>
			</li>
			<li>
				<a href="javascript:;" data-ng-click="goAbout()">Giới thiệu </a>
			</li>
			<li>
				<a href="javascript:;">Blog</a>
			</li>
			<li>
				<a href="javascript:;">Thư viện ảnh</a>
			</li>
			<li>
				<a href="javascript:;" data-ng-click="goContact()">Liên hệ</a>
			</li>
		</ul>
		<ul class="list-social">
			<li class="face">
				<a class="icon" href="javascript:;"></a>
			</li>
			<li class="twin">
				<a class="icon" href="javascript:;"></a>
			</li>
			<li class="google">
				<a class="icon" href="javascript:;"></a>
			</li>
		</ul>
	</div>
</footer>
