<div class="cover-page" data-ng-controller="faqCtrl as vm">
	<div class="for-service for-faq">
		<div class="cover">
			<h2 class="heading-one">
				<span class="icon icon-heading"></span>
				<span class="text-heading">
					Các câu hỏi thường gặp
				</span>
				<i class="line-heading"></i>
			</h2>
			<!-- Heading -->
			<p class="intro-faq">
				Nếu bạn cần sự giúp đỡ, chúng tôi có một danh sách các câu hỏi và câu trả lời thường gặp. Chúng tôi cố gắng cung cấp cho bạn những kinh nghiệm tốt nhất có thể mua. Nhấn vào một câu hỏi dưới đây để xem câu trả lời.
			</p>
			<div class="list-faq">
				<ul>
					<li data-ng-repeat="item in vm.dataJson.faqs">
						<div class="question-here">
							<a href="javascript:;" class="icon" data-ng-click="showFAQItem($event)"></a>
							<p class="faq-here">
								{{item.title}}
							</p>
						</div>
						<p class="solve-questions">
							{{item.answer}}
						</p>	
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Cover-page -->